@{
    ViewBag.Title = "Compania";
}

<script src="~/javascripts/Sleder2.js" type="text/javascript"></script>

<h2> </h2>
<div class="container">
    <div class="twelve columns">
        <nav>
            <ul>
                <li><p  class="text5">su conocimiento</p></li>
                <li><p  class="text5">en online</p></li>
                <li><p class="text6">¿Tiene precencia en internet?</p></li>
            </ul>
        </nav>
    </div>
    <div class="ten columns">
        <div id="content_slider1">                     	
	        <div id="slideshow1">
		        <div class="slides1 portal1">
				        <ul>
					        <li id='portal_area_11'>
					        <div class="slide-content1">
					        <div class="slide-image"><img src="/images/imagen-slider/Slider2_1.png"/></div>
					        </div>
				        </li>		  
				        <li id='portal_area_21'>
					        <div class="slide-content1">
					        <div class="slide-image"><img src="/images/imagen-slider/Slider2_2.png" /></div>
					        </div>
				        </li>		  
				        <li id='portal_area_31'>
					        <div class="slide-content1">
					        <div class="slide-image"><img src="/images/imagen-slider/Slider2_3.png" /></div>
					        </div>
				        </li>		  
			        </ul>
		        </div>	
	        </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="sixteen columns">
        <div class="font2">
            <p id="text">"Mas de 300 clientes no pueden equivocarse, Aula virtual on line"</p>
        </div>    
    </div> 
    <div class="content_2">
        <div class="five columns">
                  
        </div>
        <div class="fourteen columns">
            <div class="contenido_text">
                <div class="five columns">
                    <nav class="block_menu">
                        <ul>
                            <li class="div_block">
                                <div class="block_quienes">
                                    <p>Quienes Somos?</p>
                                </div>
                            </li>
                            
                        </ul>
                        <ul>
                            <li>
                                <a href="/Inicio/Equipo">Equipo</a>
                            </li>
                            <li>
                                <a href="">historia</a>
                            </li>
                            <li>
                                <a href="">Inversiones</a>
                            </li>
                            <li>
                                <a href="">Alianzas</a>
                            </li>
                            <li>
                                <a href="">Comprimizo social</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="eleven columns">
                    <p>Quienes somos</p>
                    <nav class="block">
                        <ul>
                            <li>
                                <div class="six columns">
                                    <p>Dinamiq nació con la pretensión del trabajo bien hecho, del servicio personalizado a nuestros clientes, muchos de ellos ya amigos desde hace años, y con la ilusión de superar los retos diarios que nos marca un mercado como el de Internet.
                                        Gracias a ello un equipo joven y con experiencia en diversos campos de la programación y el diseño gráfico se embarcó en un proyecto que ha ido creciendo hasta llegar a estar considerados como uno de los estudios punteros del desarrollo web de nuestro país.</p>
                                </div>
                            </li>
                            <li>
                                <img class="img" src="~/images/imagen-slider/Slider2_1.png"/>
                            </li>
                        </ul>
                    </nav>
                    <p>Desde Dinamiq, llevamos a cabo toda la el proceso de implantación de su empresa en internet, desarrollando con las últimas tecnologías y herramientas su web, hasta llegar a su target deseado.</p>
                    <div class="ten columns">
                        <p class="text7">"Nuestros más de 12 años de experiencia y los mas de 6000 proyecto de desarrollo."</p>
                    </div>
                    <div class="ten columns">
                        <p>El cuidado de detalles tanto a nivel gráfico, como funcional, es una de nuestras premisas a la hora de afrontar los retos proporcionados por nuestros clientes.
                            En un mercado en donde el uso de Internet como herramienta de venta y captación de nuevos clientes está creciendo de una forma tan rápida, es necesario contar con un equipo compartimentado y especializado como el proporcionado por Dinamiq.
                            Todos nuestros proyectos son a medida, orientados en gran parte de los casos a un mejor posicionamiento web, para asegurar el éxito de nuestro cliente, y todo ello arropado por nuestros técnicos en marketing y posicionamiento en buscadores.
                            En esta web queremos enseñarte algunos ejemplos de nuestros trabajos, esperamos disfrutes navegándola.</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="five columns">
                    
        </div>
    </div>           
</div>