@{
    ViewBag.Title = "Equipo";
}

<script src="~/javascripts/Sleder2.js" type="text/javascript"></script>


<h2></h2>
<div class="container">
    <div class="thirteen columns">
        <div id="content_slider1">                     	
	        <div id="slideshow1">
		        <div class="slides1 portal1">
				        <ul>
					        <li id='portal_area_11'>
					        <div class="slide-content1">
					        <div class="slide-image"><img src="/images/imagen-slider/Slider3_1.png"/></div>
					        </div>
				        </li>		  
				        <li id='portal_area_21'>
					        <div class="slide-content1">
					        <div class="slide-image"><img src="/images/imagen-slider/Slider3_2.png" /></div>
					        </div>
				        </li>		  
				        <li id='portal_area_31'>
					        <div class="slide-content1">
					        <div class="slide-image"><img src="/images/imagen-slider/Slider3_3.png" /></div>
					        </div>
				        </li>		  
			        </ul>
		        </div>	
	        </div>
        </div>
    </div>
    <div class="six columns">
        <div class="img2">
            <img src="~/images/imagen-slider/Slider2_3.png" />
        </div>
    </div>
</div>


<div class="container">
    <div class="sixteen columns">
        <div class="font2">
            <p id="text">"Mas de 300 clientes no pueden equivocarse, Aula virtual on line"</p>
        </div>    
    </div> 
    <div class="content_2">
        <div class="five columns">
                  
        </div>
        <div class="fourteen columns">
            <div class="contenido_text">
                <div class="five columns">
                    <nav class="block_menu">
                        <ul>
                            <li class="div_block">
                                <div class="block_quienes">
                                    <p>Quienes Somos?</p>
                                </div>
                            </li>
                            
                        </ul>
                        <ul>
                            <li>
                                <a href="/Inicio/Equipo">Equipo</a>
                            </li>
                            <li>
                                <a href="">historia</a>
                            </li>
                            <li>
                                <a href="">Inversiones</a>
                            </li>
                            <li>
                                <a href="">Alianzas</a>
                            </li>
                            <li>
                                <a href="">Comprimizo social</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="eleven columns">
                    <p>Equipo</p>
                    <nav class="block">
                        <ul>
                            <li>
                                <div class="six columns">
                                    <p>En Dinamiq contamos con un equipo multidisciplinar altamente segmentado y especializado en cada campo de nuestros servicios, uno de nuestros principales valores es aunar un equipo altamente técnico con un equipo especializado en marketing y comunicación on line, entendiéndose y comunicándose en todo momento.
                                        De esta forma la aportación de valor al cliente, es máxima, dada las pocas empresas con estas características.</p>
                                </div>
                            </li>
                            <li>
                                <img class="img" src="/images/equipo1.png"/>
                            </li>
                        </ul>
                    </nav>
                    
                    <div class="ten columns">
                        <p class="text7">"Nuestros más de 12 años de experiencia y los mas de 100% Equipos de desarrollo"</p>
                    </div>
                    <div class="ten columns">
                        <p>Nuestro equipo altamente motivado, tanto a nivel formativo como humano, es apoyado por especialistas concretos freelance, que llevan trabajando con nosotros algunos desde más de 10 años.</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="five columns">
                    
        </div>
    </div>           
</div>
