@{
    ViewBag.Title = "Login";
}

<h2></h2>
<div class="text8">
    <p>Login</p>
</div>
<div class="fromlogin container">
    <div class="seven columns">
        __
    </div>
    <div class="seven columns">
        <div class="conatinerlogin">
            <form name="fLogin" method="post">
                <nav class="block_login">
                    <ul>
                        <li>
                            Nick:
                        </li>
                        <li>
                            <input type="text" name="nick" required/>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Password:
                        </li>
                        <li>
                            <input type="password" name="pass" required />
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <input type="submit" value="Entrar" id="bottom_login"/>
                        </li>
                    </ul>
                </nav>
            </form>
    </div>
    </div>  
    <div class="five columns">
        __
    </div>
</div>